/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.hangman svg {
    float: left;
}

.hangman .secret-word{
    font-size: 5em;
    color:transparent;
}

.hangman .secret-word span {
    background-color: buttonface;
    border: 1px solid black;
    margin: 2px;
    border-radius: 0.1em;
}

.hangman .secret-word .correct{
    color: black;
    background-color: green;
}

.keyboard {
    margin-top: 3em;
}